.breadcrumb {
    margin-bottom: -4px;
}

.cart-title {
    margin-bottom: 15px;
    font-size: 20px;
}

.orders-col{
    width: 260px ;
}

.row.is-flex {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}

.row.is-flex > [class*='col-'] {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
}

.orders-container .row .col-sm-10 {
    width: calc(100% - 260px);
}

.row {
    margin-right: 0px;
    margin-left: 0px;
}

.image-container {
    width: 120px;
}

.name-container {
    width: calc((100% - 120px) - 33.33333333%);
}

.cart-img {
    height: auto;
    width: auto;
    max-width: 100%;
    margin-bottom: -10px;
}

.cart-product-price {
    color: #b12704;
    font-weight: bold;
}

.checkout-container {
    margin-top: 20px;
    border: 1px solid #DDDDDD;
    border-radius: 4px;
    padding: 14px 18px 14px;
    width: 100%;
    text-align: center;
}

.checkout-subtotal {
    text-align: center;
    margin-bottom: 10px;
}

.form-address {
    margin-top: 5px;
    margin-bottom: 5px;
}

.user-container {
    margin-left: 12px;
    margin-top: 10px;
}

.payment-container {
    margin-left: 12px;
    margin-top: 10px;
}

.checkout-head {
    text-align: center;
}

.user-address {
    border-top: none;
    border-left: none;
    border-right: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    border-radius: 0px;
    width: 100%;
}

.billing-info {
    font-size: 12px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

#submit-label {
    margin-bottom: 0px;
    cursor: pointer;
    width: 100%;
    padding: 10px;
    background: linear-gradient(to bottom,#f7dfa5,#f0c14b);
    border: 1px solid grey;
    border-radius: 4px;
    font-weight: 400;
}

@media (max-width: 767px) {
    .orders-container .row .col-sm-10 {
        width: 100%;
    }
    .orders-col {
        width: 100%;
    }
    .col-xs-12 {
        padding-left: 7px;
        padding-right: 7px;
    }

    .col-sm-10 {
        padding-left: 7px;
        padding-right: 7px;
    }

    .col-xs-8 {
        padding-right: 7px;
        padding-left: 7px;
    }
    .name-container {
        width: calc(100% - 100px);
    }
    .image-container {
        width: 100px;
    }
    .checkout-container {
        margin-top: 5px;
    }
}
