.breadcrumb {
    margin-bottom: -4px;
}

.cart-title {
    font-size: 20px;
    padding: 15px;
}

.orders-col{
    min-width: 260px;
    max-width: 260px;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 260px;
            flex: 0 0 260px;
}

.row.is-flex {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}

.row.is-flex > [class*='col-'] {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
}

.orders-container .row .col-md-10 {
    max-width: calc(100% - 260px);
    -webkit-box-flex: 0;
        -ms-flex: 0 0 calc(100% - 260px);
            flex: 0 0 calc(100% - 260px);
}

.row {
    margin-right: 0px;
    margin-left: 0px;
}

.image-container {
    max-width: 120px;
    margin-left: -1px;  /*safari*/
    -webkit-box-flex: 0;
        -ms-flex: 0 0 120px;
            flex: 0 0 120px;
}

.name-container {
    max-width: calc((100% - 120px) - 33.33333333%);
    -webkit-box-flex: 0;
        -ms-flex: 0 0 calc((100% - 120px) - 33.33333333%);
            flex: 0 0 calc((100% - 120px) - 33.33333333%);
}

.cart-img {
    height: auto;
    width: auto;
    max-width: 100%;
    margin-top: -10px;
}

.cart-product-price {
    color: #b12704;
    font-weight: bold;
}

.checkout-container {
    margin-top: 20px;
    border: 1px solid #DDDDDD;
    border-radius: 4px;
    padding: 14px 18px 14px;
    width: 100%;
    text-align: center;
}

.checkout-subtotal {
    text-align: center;
    margin-bottom: 10px;
}

.form-address {
    margin-top: 5px;
    margin-bottom: 5px;
}

.user-container {
    margin-left: 12px;
    margin-top: 10px;
}

.payment-container {
    margin-left: 12px;
    margin-top: 10px;
}

.ship-info {
    margin-left: -1px;  /*safari*/
}

.checkout-head {
    text-align: center;
}

.user-address {
    border-top: none;
    border-left: none;
    border-right: none;
    box-shadow: none;
    border-radius: 0px;
    width: 100%;
}

.billing-info {
    font-size: 12px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

#submit-label {
    margin-bottom: 0px;
    cursor: pointer;
    width: 100%;
    padding: 10px;
    background: -webkit-linear-gradient(top,#f7dfa5,#f0c14b);
    background: linear-gradient(to bottom,#f7dfa5,#f0c14b);
    border: 1px solid grey;
    border-radius: 4px;
    font-weight: 400;
}

@media (max-width: 767px) {
    .orders-container .row .col-md-10 {
        max-width: 100%;
        -webkit-box-flex: 0;
            -ms-flex: 0 0 100%;
                flex: 0 0 100%;
    }
    .orders-col {
        max-width: 100%;
        -webkit-box-flex: 0;
            -ms-flex: 0 0 100%;
                flex: 0 0 100%;
    }
    .col-12 {
        padding-left: 7px;
        padding-right: 7px;
    }

    .col-md-10 {
        padding-left: 7px;
        padding-right: 7px;
    }

    .col-8 {
        padding-right: 7px;
        padding-left: 7px;
    }
    .name-container {
        min-width: calc(100% - 100px);
        max-width: calc(100% - 100px);
        -webkit-box-flex: 0;
            -ms-flex: 0 0 calc(100% - 100px);
                flex: 0 0 calc(100% - 100px);
    }
    .image-container {
        max-width: 100px;
        -webkit-box-flex: 0;
            -ms-flex: 0 0 100px;
                flex: 0 0 100px;
    }
    .checkout-container {
        margin-top: 5px;
    }
}

.form-group {
    max-width: 400px;
}

.ng-valid[required], .ng-valid.required  {
  border-right: 2px solid #42A948; /* green */
}

.ng-invalid:not(form)  {
  border-right: 2px solid #a94442; /* red */
}