<div class="add-container">
    <ol class="breadcrumb">
        <li class="breadcrumb-item">
            <a [routerLink]="['/']">Home</a>
        </li>
        <li class="breadcrumb-item active bread-name">New Laptop</li>
    </ol>
    <h2 class="text-center">Add a laptop</h2>
    <div class="col-12 mt-3 mb-3">
        <h6 class="text-center">Submitting will add the laptop to the database and can be seen on the website!</h6>
    </div>
    <div class="row justify-content-center">
        <div class="col-xl-8 col-lg-10 col-12">
            <div class="card">
                <div class="card-body">
                    <button type="reset" class="btn btn-primary float-right" (click)="clearAll()">Clear All</button>
                    <br>
                    <div class="alert alert-danger" role="alert" *ngIf="errorText" style="margin-top: 20px;">
                        Error: {{errorText}}
                    </div>
                    <div class="alert alert-success pos-relative" role="alert" *ngIf="newLaptopId" style="margin-top: 20px;">
                        Success! You can now view your laptop by clicking
                        <a [routerLink]="['/product', newLaptopId]">here!</a>
                        <svg class="svg-fixed bg-none success-green" (click)="newLaptopId = null" version="1.1" width="24" height="24" viewBox="0 0 24 24">
                            <path d="M12,2C17.53,2 22,6.47 22,12C22,17.53 17.53,22 12,22C6.47,22 2,17.53 2,12C2,6.47 6.47,2 12,2M15.59,7L12,10.59L8.41,7L7,8.41L10.59,12L7,15.59L8.41,17L12,13.41L15.59,17L17,15.59L13.41,12L17,8.41L15.59,7Z"
                            />
                        </svg>
                    </div>
                    <div class="form-group">
                        <label for="laptopName">Laptop Name</label>
                        <input type="text" class="form-control" id="laptopName" aria-describedby="laptop" placeholder="Enter name" [(ngModel)]="laptop.title">
                    </div>
                    <div class="form-group">
                        <label for="imageUrl">Image URL</label>
                        <input type="text" class="form-control" id="imageUrl" aria-describedby="image" placeholder="Enter Image URL" [(ngModel)]="laptop.image">
                    </div>
                    <div class="col-12 no-pad" *ngIf="laptop.image">
                        <div>Preview:</div>
                        <img class="laptop-image" [src]="laptop.image" (error)="imageError()" (load)="imageLoad()">
                    </div>
                    <div class="row row-margin">
                        <div class="col-sm-3 col-6">
                            <label for="laptopRam">RAM (GB)</label>
                            <input type="number" min=2 max=128 class="form-control mb-2 mr-sm-2 mb-sm-0 laptop-size" id="laptopRam" [(ngModel)]="laptop.ram"
                                placeholder="RAM">
                        </div>
                        <div class="col-sm-3 col-6">
                            <label for="storage">Storage (GB)</label>
                            <input type="number" min=32 max=4096 class="form-control mb-2 mr-sm-2 mb-sm-0 laptop-size" id="storage" placeholder="Size"
                                [(ngModel)]="laptop.storage">
                        </div>
                        <div class="col-sm-3 col-6">
                            <label for="price">Price $</label>
                            <input type="number" min=50 max=9999 class="form-control mb-2 mr-sm-2 mb-sm-0 laptop-size" id="price" placeholder="Price"
                                [(ngModel)]="laptop.price">
                        </div>
                        <div class="col-sm-3 col-6">
                            <label>Rating</label>
                            <div>
                                <ngb-rating class="laptop-rating" [(rate)]="laptop.rating" max="5">
                                    <ng-template let-fill="fill" let-index="index">
                                        <span class="star" [class.filled]="fill === 100">&#9733;</span>
                                    </ng-template>
                                </ngb-rating>
                            </div>
                        </div>
                    </div>
                    <div class="form-group" style="margin-top: 10px;">
                        <label>Description (will show as bullet points)</label>
                        <div *ngFor="let desc of laptop.description; let i = index; trackBy:trackByFn">
                            <div class="pos-relative">
                                <input [attr.data-index]="i" type="text" class="form-control form-desc" [value]="desc" [(ngModel)]="laptop.description[i]"
                                    placeholder="Enter laptop description">
                                <svg *ngIf="laptop.description.length > 1" class="svg-fixed" (click)="removeDescription(i)" version="1.1" width="24" height="24"
                                    viewBox="0 0 24 24">
                                    <path d="M12,2C17.53,2 22,6.47 22,12C22,17.53 17.53,22 12,22C6.47,22 2,17.53 2,12C2,6.47 6.47,2 12,2M15.59,7L12,10.59L8.41,7L7,8.41L10.59,12L7,15.59L8.41,17L12,13.41L15.59,17L17,15.59L13.41,12L17,8.41L15.59,7Z"
                                    />
                                </svg>
                            </div>
                        </div>
                        <div class="alert alert-danger pos-relative" role="alert" *ngIf="laptop.limit">
                            Limit of 8 reached!
                            <svg class="svg-fixed bg-none" (click)="laptop.limit = !laptop.limit" version="1.1" width="24" height="24" viewBox="0 0 24 24">
                                <path d="M12,2C17.53,2 22,6.47 22,12C22,17.53 17.53,22 12,22C6.47,22 2,17.53 2,12C2,6.47 6.47,2 12,2M15.59,7L12,10.59L8.41,7L7,8.41L10.59,12L7,15.59L8.41,17L12,13.41L15.59,17L17,15.59L13.41,12L17,8.41L15.59,7Z"
                                />
                            </svg>
                        </div>
                        <button type="button" class="btn btn-light float-right" (click)="addDescription()">Add More</button>
                    </div>
                    <div class="form-group" style="margin-top: 50px;">
                        <label>Operating System</label>
                        <br>
                        <div class="form-check form-check-inline inline-margin" *ngFor="let item of operatingSystems; let i = index">
                            <label class="form-check-label">
                                <input class="form-check-input" type="radio" name="osRadio" [id]="'os'+i" [value]="item" [(ngModel)]="laptop.os"> {{item}}
                            </label>
                        </div>
                    </div>
                    <div class="form-group">
                        <label>Brand</label>
                        <br>
                        <div class="form-check form-check-inline inline-margin" *ngFor="let item of brands; let i = index">
                            <label class="form-check-label">
                                <input class="form-check-input" type="radio" name="brandRadio" [id]="'brand'+i" [value]="item" [(ngModel)]="laptop.brand"> {{item}}
                            </label>
                        </div>
                    </div>
                    <div class="form-group">
                        <label>Processor</label>
                        <br>
                        <div class="form-check form-check-inline inline-margin" *ngFor="let item of processors; let i = index">
                            <label class="form-check-label">
                                <input class="form-check-input" type="radio" name="processorRadio" [id]="'processor'+i" [value]="item" [(ngModel)]="laptop.processor"> {{item}}
                            </label>
                        </div>
                    </div>
                    <div class="form-group">
                        <label>Storage Type</label>
                        <br>
                        <div class="form-check form-check-inline inline-margin" *ngFor="let item of storageTypes; let i = index">
                            <label class="form-check-label">
                                <input class="form-check-input" type="radio" name="storageRadio" [id]="'storage'+i" [value]="item" [(ngModel)]="laptop.storageType"> {{item}}
                            </label>
                        </div>
                    </div>
                    <button type="submit" class="btn btn-primary" (click)="submit()">Submit</button>
                </div>
            </div>
        </div>
    </div>
</div>