.nav-name {
  max-width: 100px;
  &:focus {
    outline: none !important;
  }
}

.dropdown-menu {
  margin-left: -10px;
}

a {
  text-decoration: none !important;
  cursor: pointer !important;
}

#search-bar {
  position: absolute;
  top: 10px; /* firefox 55.0.3 breaks without it for reasons */
  left: 180px;
  width: calc(100% - 520px);
  padding-right: 40px;
  border: none;
  &:focus {
    outline: none;
  }
}

#search-button {
  position: absolute;
  top: 10px; /* firefox 55.0.3 breaks without it for reasons */
  right: 330px;
  width: 45px;
  background: #FEBD69;
  border: none;
  height: 38px;
  border-radius: 0px 4px 4px 0px;
  padding: 0px;
  &:hover {
    background: darken(#FEBD69, 8%);
  }
  &:focus {
    outline: none;
    box-shadow: none;
  }
}

#add-laptop {
  position: absolute;
  right: 18px;
  top: 63px;
  font-size: 15px;
  background: #343A40;
  color: #eee;
  opacity: 0.9;
  padding: 5px;
  &:hover {
    opacity: 1;
  }
}

@media screen and (max-width: 1024px) {
  #search-bar {
    width: calc(100% - 420px);
  }
  #search-button {
    right: 230px;
  }
}

@media screen and (max-width: 767px) {
  #search-bar {
    width: calc(100% - 40px);
    left: 15px;
    top: 55px;
  }
  #search-button {
    right: 15px;
    top: 55px;
  }
  #add-laptop {
    display: none !important;
  }
}

.user-welcome {
  position: absolute;
  right: 15px;
  padding-right: 0px;
  font-size: 1.0rem;
  a {
    color: #ddd;
    &:hover {
      color: #fff;
      text-decoration: none;
    }
    a:focus {
      text-decoration: none;
    }
  }
}

#user-cart {
  margin-left: 5px;
  &:hover {
    path {
      fill: #fff;
    }
  }
  #cart-svg {
    position: relative;
    top: -0.3rem;
    margin-right: 2px;
  }
  #cart-size {
    font-size: 15px;
    display: inline-block;
    min-width: 20px;
  }
}

.dropdown-item {
  color: #483C32 !important;
  font-weight: 500 !important;
  &:active {
    background-color: #fff !important;
  }
}

#login-io {
  position: absolute;
  color: #ddd !important;
  right: 20px;
  font-size: 1.0rem;
  top: .50rem;
  padding-top: .50rem;
  &:focus {
    outline: none;
  }
}

.btn {
  text-align: center;
  border-radius: 2px;
  border: 1px solid;
  line-height: 1.43;
  vertical-align: middle;
  cursor: pointer;
  font-size: 15px;
  width: 100%;
  padding: 14px;
  letter-spacing: .3px;
}

.btn-google {
  border-color: #c4c4c4;
  background: white;
  color: #484848;
  margin-bottom: 10px;
  opacity: 1 !important;
  position: relative;
  &:hover {
    background-color: #eee;
  }
}

.btn-facebook {
  border-color: #3D5A98;
  border-bottom-color: #263a63;
  background-color: #3B5998;
  color: #fff !important;
  opacity: 1 !important;
  position: relative;
  &:hover {
    background-color: #4568b2;
  }
}

.facebook-f {
  width: 16px;
  position: absolute;
  left: 10px;
  top: 12px;
}

.google-g {
  position: absolute;
  width: 18px;
  left: 10px;
  top: 16px;
}

.login-seperator {
  text-align: center;
  margin-top: 20px;
  hr {
    margin-top: -9px;
  }
}

.login-seperator-text {
  background-color: #fff;
  font-size: 14px;
  padding: 10px;
  color: #767676;
}

.loginmodal-container {
  padding: 30px;
  margin: 0 auto;
  border-radius: 2px;
  overflow: hidden;
  a {
    text-decoration: none;
    color: #666;
    font-weight: 400;
    text-align: center;
    display: inline-block;
    opacity: 0.6;
    -webkit-transition: opacity ease 0.5s;
    transition: opacity ease 0.5s;
  }
  h1 {
    text-align: center;
    font-size: 1.8em;
  }
  input[type=submit] {
    width: 100%;
    display: block;
    margin-bottom: 10px;
    position: relative;
  }
  input[type=email],
  input[type=password] {
    height: 44px;
    font-size: 16px;
    width: 100%;
    margin-bottom: 10px;
    -webkit-appearance: none;
    background: #fff;
    border: 1px solid #d9d9d9;
    border-top: 1px solid #c0c0c0;
    padding: 0 8px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    &:hover {
      border: 1px solid #b9b9b9;
      border-top: 1px solid #a0a0a0;
      box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
    }
  }
}

.loginmodal {
  text-align: center;
  font-size: 14px;
  font-weight: 700;
  height: 36px;
  padding: 0 8px;
}

.loginmodal-submit {
  cursor: pointer;
  border: 0px;
  color: #fff;
  text-shadow: 0 1px rgba(0, 0, 0, 0.1);
  background-color: #4d90fe;
  padding: 17px 0px;
  font-size: 14px;
  &:hover {
    border: 0px;
    text-shadow: 0 1px rgba(0, 0, 0, 0.3);
    background-color: #357ae8;
  }
}

.alert {
  margin-bottom: 10px;
}