.login-google img {
  position: absolute;
  float: right;
  margin-top: 1px;
  right: 10px;
}

.nav-shop {
  float: left;
  height: 50px;
  padding: 15px 0px;
  font-size: 16px;
  line-height: 20px;
  color: #ddd;
}

.glyphicon {
  font-weight: 700;
}

.nav-shop:hover, .nav-shop:focus {
  text-decoration: none;
  color: #fff;
}

.cart-icon {
  color: #fff;
}

.navbar-default {
  border-radius: 0px;
  margin-bottom: 0px;

  background-color: #232f3e;
  border-color: #232f3e;
}
.navbar-default .navbar-brand {
  letter-spacing: 2px;
  color: #fff;
}

.navbar-default .navbar-text {
  color: #ddd;
}

.user-welcome {
  float: right;
  position: absolute;
  right: 0px;
  height: 50px;
  padding: 15px 15px;
  font-size: 16px;
  line-height: 20px;
}

a {
  color: #ddd;
  text-decoration: none;
}

.user-welcome a:hover {
  color: #fff;
  text-decoration: none;
}

.user-welcome a:focus {
  color: #fff;
  text-decoration: none;
}

.drop-link {
  color: #483C32 !important;
  font-weight: 500 !important;
}

@media (max-width: 767px) {
  .nav-shop {
    font-size: 14px;
  }
  .user-welcome {
    font-size: 14px;
  }
}