<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" [routerLink]="['']">Cyrano</a>
      <a class="nav-shop" [routerLink]="['/shop']">Shop</a>

      <a *ngIf="!showLogin" (click)="onLoginSuccess()" class="login-google" [href]="_login"><img src="assets/images/signin.png" alt="Sign in" class="hidden-xs"><img src="assets/images/btn_google_mobile.png"
          alt="Sign in" class="visible-xs"></a>

      <a *ngIf="showLogin" class="dropdown user-welcome">
        <a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Hello, {{userGivenName}}<span class="caret"></span></a>
        <ul class="dropdown-menu">
          <li><a class="drop-link" [routerLink]="['/user/cart']">Cart</a></li>
          <li role="separator" class="divider"></li>
          <li><a class="drop-link" href="/logout">Log Out</a></li>
        </ul>
        &nbsp;
        <a class="cart-icon" [routerLink]="['/user/cart']"><span class = "glyphicon glyphicon-shopping-cart">Cart</span></a>

      </a>
    </div>
  </div>
</nav>