<nav class="navbar navbar-inverse bg-inverse">
  <a class="navbar-brand nav-name" [routerLink]="['']">suman.io</a>
  <a *ngIf="showLogin" class="dropdown user-welcome">
    <a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Hello, {{userGivenName}}<span class="caret"></span></a>
    <div class="dropdown-menu">
      <a class="dropdown-item" [routerLink]="['/user/settings']">Your Account</a>
      <div class="dropdown-divider"></div>
      <a class="dropdown-item" [routerLink]="['/user/orders']">Your Orders</a>
      <div class="dropdown-divider"></div>
      <a class="dropdown-item" href="/logout">Sign Out</a>
    </div>
    <a [routerLink]="['/user/cart']">
      <svg id="user-cart" xmlns="http://www.w3.org/2000/svg" fill="#ddd" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1"
        width="22" height="22" viewBox="0 0 24 24">
        <path d="M17,18A2,2 0 0,1 19,20A2,2 0 0,1 17,22C15.89,22 15,21.1 15,20C15,18.89 15.89,18 17,18M1,2H4.27L5.21,4H20A1,1 0 0,1 21,5C21,5.17 20.95,5.34 20.88,5.5L17.3,11.97C16.96,12.58 16.3,13 15.55,13H8.1L7.2,14.63L7.17,14.75A0.25,0.25 0 0,0 7.42,15H19V17H7C5.89,17 5,16.1 5,15C5,14.65 5.09,14.32 5.24,14.04L6.6,11.59L3,4H1V2M7,18A2,2 0 0,1 9,20A2,2 0 0,1 7,22C5.89,22 5,21.1 5,20C5,18.89 5.89,18 7,18M16,11L18.78,6H6.14L8.5,11H16Z"
        />
      </svg>Cart
    </a>
  </a>
  <a *ngIf="!showLogin" id="login-io" href="#" data-toggle="modal" data-target="#login-modal">Login</a>
  <div class="modal fade" id="login-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="display: none;">
    <div class="modal-dialog">
      <div class="loginmodal-container">
        <a href="/google-auth" class="btn btn-google"><img class="google-g" src="../../assets/images/google-g.png"> <span>Log in with Google</span> </a>
        <a href="/facebook-auth" class="btn btn-facebook"><img class="facebook-f" src="../../assets/images/facebook-f.png"> <span>Log in with Facebook</span> </a>
        <div class="login-seperator">
          <span class="login-seperator-text">or</span>
          <hr>
        </div>
        <form>
          <div *ngIf="!_login" class="alert alert-danger" role="alert">Invalid email and or password.</div>
          <input #email type="email" name="email" placeholder="Email" value="sumanbh7+demo@gmail.com" required>
          <!--Demo Login info-->
          <input #pass type="password" name="pass" placeholder="Password" value="cavevillagebywin476" required>
          <!--For demo only. All passwords are hashed with bcrypt-->
          <input type="submit" name="login" class="login loginmodal-submit" value="Log in" (click)="localAuth(email.value, pass.value)">
        </form>
      </div>
    </div>
  </div>
</nav>