.row {
    margin-right: 0px;
    margin-left: 0px;
}

a {
    cursor: pointer;
}

.row.is-flex {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}

.row.is-flex > [class*='col-'] {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
}

.card {
    margin-bottom: 15px;
}

.orders-img {
    height: auto;
    width: auto;
    max-width: 100%;
    margin-top: -10px;
    z-index: -1;
}

.image-container {
    max-width: 120px;
}

.name-container {
    max-width: calc((100% - 120px) - 33.33333333%);
}

.orders-product-price {
    color: #b12704;
    font-weight: bold;
}

.orderdate-container {
    width: 23%;
    display: inline-block;
}

.total-container {
    width: 15%;
    display: inline-block;
}

.shipto-container {
    width: 23%;
    display: inline-block;
}

.ordernumber-container {
    float: right;
}

.main-one, .child-one {
    font-size: 12px;
    width: 100%;
}

.dropdown-menu {
    top: initial;
    left: initial;
}

@media (max-width: 767px) {
    .name-container {
        text-align: center;
        max-width: 100%;
    }
    .image-container {
        max-width: 100%;
        text-align: center;
    }
    .image-container img {
        max-width: 100px;
    }
    .price-container {
        margin-top: 5px;
        text-align: center;
    }
    .quantity-container {
        margin-top: 5px;
        text-align: center;
    }
}