<div class="cart-container">
    <ol class="breadcrumb">
            <li><a [routerLink]="['/']">Home</a></li>
            <li><a [routerLink]="['/shop']">Laptops</a></li>
            <li class="active bread-name">Cart</li>
    </ol>
    <!--<h2> Your Shopping Cart is empty.</h2>-->
    <div class="row">
        <div class="col-sm-10 xs-12">
            <h2 class="cart-title"> Shopping Cart</h2>
            <hr>
            <div class="row" *ngFor="let item of _cartContent">
                <div class="col-xs-12" >
                    <div class = "row is-flex" >
                        <div class="col-sm-2 col-xs-4 image-container">
                            <img class="cart-img" [src]="item.img">
                        </div>
                        <div class="col-sm-6 col-xs-8 name-container">
                            <a [routerLink]="['/product', item.laptops_id]">{{item.name}}</a> by {{item.brand_name}}
                        </div>
                        <div class="col-sm-2 col-xs-6 price-container">
                            <span class="cart-product-price">${{item.price}}</span>
                        </div>
                        <div class="col-sm-2 col-xs-6 quantity-container">
                            <b>Qty: {{item.product_quantity}}</b>
                        </div>
                    </div>
                    <hr>
                </div>
            </div>
        </div>
        <div class="col-sm-2 col-xs-12 checkout-col">
            <div class="checkout-container">
                <div class="checkout-subtotal">
                    <span>Subtotal: </span><span class="cart-product-price">${{_cartTotal}}</span>
                </div>
                <button type="button" class="btn btn-default btn-lg">
                    <span style="font-size: 14px" [routerLink]="['/user/checkout']">Proceed to Checkout</span>
                </button>
            </div>
        </div>
    </div>
</div>
