<div class="cart-container">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a [routerLink]="['/']">Home</a></li>
        <li class="breadcrumb-item active bread-name">Cart</li>
    </ol>
    <div class="row">
        <div class="col-lg-10 col-12">
            <h2 class="cart-title text-center"> Shopping Cart</h2>
            <hr>
            <div [hidden]="!_buttonDisabled" class="col-12">
                <h2 class="cart-title text-center">Your cart is empty. It is not meant to be!</h2>
            </div>
            <div class="row" *ngFor="let item of _cartContent">
                <div [@signal]="animate" *ngIf="!item.hideme" class="col-12">
                    <div class="row is-flex">
                        <div class="col-lg-2 col-sm-4 col-12 image-container">
                            <img class="cart-img" [src]="item.img">
                        </div>
                        <div class="col-lg-6 col-sm-8 col-12 name-container">
                            <a [routerLink]="['/product', item.laptops_id]">{{item.name}}</a> by {{item.brand_name}}
                            <a class="cart-remove"><span (click)="item.hideme = !item.hideme" (click)="removeProduct(item.unique_id)" style="font-size: 14px">Delete</span></a>
                        </div>
                        <div class="col-lg-2 col-6 price-container">
                            <span class="cart-product-price">${{item.price}}</span>
                        </div>
                        <div class="col-lg-2 col-6 quantity-container">
                            <b>Qty: {{item.product_quantity}}</b>
                        </div>
                    </div>
                    <hr>
                </div>
            </div>
        </div>
        <div class="col-lg-2 col-12 checkout-col">
            <div class="checkout-container">
                <div class="checkout-subtotal">
                    <span>Subtotal: </span><span class="cart-product-price">${{_cartTotal}}</span>
                </div>
                <button [routerLink]="['/user/checkout']" type="button" class="btn btn-lg" [disabled]="_buttonDisabled">Proceed to Checkout</button>
            </div>
        </div>
    </div>
</div>