.breadcrumb {
    margin-bottom: -4px;
}

.cart-title {
    margin-bottom: 15px;
    font-size: 20px;
}

.checkout-col{
    width: 260px ;
}

.row.is-flex {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}

.row.is-flex > [class*='col-'] {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
}

.cart-container .row .col-sm-10 {
    width: calc(100% - 260px);
}

.row {
    margin-right: 0px;
    margin-left: 0px;
}

.image-container {
    width: 120px;
    padding-right: 7px;
    padding-left: 7px;
    margin-left: -1px; /*safari*/
}

.name-container {
    width: calc((100% - 120px) - 33.33333333%);
}

.cart-img {
    height: auto;
    width: auto;
    max-width: 100%;
    margin-top: -10px;
}

.cart-product-price {
    color: #b12704;
    font-weight: bold;
}

.checkout-container {
    margin-top: 20px;
    border: 1px solid #DDDDDD;
    border-radius: 4px;
    padding: 14px 18px 14px;
    width: 100%;
    text-align: center;
    background: #f3f3f3!important;
}

.checkout-container > .btn {
    height: 42px;
    width: 100%;
    background: linear-gradient(to bottom,#f7dfa5,#f0c14b);
}

.checkout-subtotal {
    text-align: left;
    margin-bottom: 10px;
}

.cart-remove {
    cursor: pointer;
    width: 30px;
}

@media (max-width: 767px) {
    .cart-container .row .col-sm-10 {
        width: 100%;
    }
    .checkout-col {
        width: 100%;
    }
    .col-sm-10, .col-xs-12 {
        padding-left: 7px;
        padding-right: 7px;
    }
    .image-container {
        width: 75px;
    }
    .name-container {
        width: calc(100% - 75px);
    }
    .price-container {
        margin-top: 5px;
    }
    .quantity-container {
        margin-top: 5px;
    }
}