.breadcrumb {
    margin-bottom: -4px;
}

.cart-title {
    padding-top: 15px;
    font-size: 20px;
}

.checkout-col{
    min-width: 250px;
    max-width: 250px;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 250px;
            flex: 0 0 250px;
}

.row.is-flex {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}

.row.is-flex > [class*='col-'] {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
}

.cart-container .row .col-lg-10 {
    max-width: calc(100% - 250px);
    -webkit-box-flex: 0;
        -ms-flex: 0 0 calc(100% - 250px);
            flex: 0 0 calc(100% - 250px);
}

.row {
    margin-right: 0px;
    margin-left: 0px;
}

.image-container {
    max-width: 160px;
    padding-right: 7px;
    padding-left: 7px;
    margin-left: -1px; /*safari*/
}

.name-container {
    max-width: calc((100% - 120px) - 33.33333333%);
}

.cart-img {
    height: auto;
    width: 100%;
    max-width: 120px;
    margin-top: -10px;
}

.cart-product-price {
    color: #b12704;
    font-weight: bold;
}

.checkout-container {
    margin-top: 20px;
    border: 1px solid #DDDDDD;
    border-radius: 4px;
    padding: 14px 18px 14px;
    width: 100%;
    text-align: center;
    background: #f3f3f3!important;
}

.checkout-container > .btn {
    cursor: pointer !important;
    height: 42px;
    width: 100%;
    font-size: 14px;
    background: -webkit-linear-gradient(top,#f7dfa5,#f0c14b);
    background: linear-gradient(to bottom,#f7dfa5,#f0c14b);
}

.checkout-subtotal {
    text-align: left;
    margin-bottom: 10px;
}

.cart-remove {
    color: #0275d8 !important;
    cursor: pointer;
    width: 30px;
}

@media (max-width: 991px) {
    .col-lg-10, .col-12 {
        padding-left: 7px;
        padding-right: 7px;
    }
    .image-container {
        max-width: 100px;
        -webkit-box-flex: 0;
            -ms-flex: 0 0 100px;
                flex: 0 0 100px;
    }
    .name-container {
        min-width: calc(100% - 100px);
        max-width: calc(100% - 100px);
        -webkit-box-flex: 0;
            -ms-flex: 0 0 calc(100% - 100px);
                flex: 0 0 calc(100% - 100px);
    }
    .price-container {
        margin-top: 5px;
    }
    .quantity-container {
        margin-top: 5px;
    }
}

@media (max-width: 767px) {
    .cart-container .row .col-lg-10 {
        max-width: 100%;
        -webkit-box-flex: 0;
            -ms-flex: 0 0 100%;
                flex: 0 0 100%;
    }
    .checkout-col {
        max-width: 100%;
        -webkit-box-flex: 0;
            -ms-flex: 0 0 100%;
                flex: 0 0 100%;
    }
}

@media (max-width: 544px) {
    .name-container {
        max-width: 100%;
        -webkit-box-flex: 0;
            -ms-flex: 0 0 100%;
                flex: 0 0 100%;
    }
    .image-container {
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        max-width: 100%;
        -webkit-box-flex: 0;
            -ms-flex: 0 0 100%;
                flex: 0 0 100%;
    }
    .cart-img {
        max-width: 100px;
    }
    .price-container {
        padding: 5px;
    }
    .quantity-container {
        padding: 5px;
    }
}