<div class="product-container">
    <div class="row" *ngFor="let item of _product">
        <ol class="breadcrumb">
            <li><a [routerLink]="['/']">Home</a></li>
            <li><a [routerLink]="['/shop']">Laptops</a></li>
            <li class="active bread-name">{{item.laptop_name}}</li>
        </ol>
        <div class="col-sm-10 xs-12">
            <div class="col-lg-4 col-md-4 col-sm-5 text-center">
                <img class="product-img" [src]="item.img_big">
            </div>
            <div class="col-lg-8 col-md-8 col-sm-7">
                <h1 class="xs-display">{{ item.laptop_name }}</h1>
                by <a [routerLink]="['/shop']">{{ item.brand_name }}</a>
                <hr>
                <div class="price-box">Price: <span class="product-price">${{item.price}}</span></div>
                <div class="finance-master"><span class="glyphicon glyphicon-info-sign"></span> Pay <b>${{(item.price/12) | number:'.1-2'}}/month</b> for <b>12</b> months (<b>${{item.price}}</b> total) with <b>Equal Pay Financing</b> on your nice store card.</div>
                <div id="availability">In Stock.</div>
                <div class="product-desc" *ngFor="let desc of item.desc">
                    <li>{{desc}}</li>
                </div>
            </div>
        </div>
        <div class="col-sm-2 col-xs-12">
            <div class="product-cartbox">
                <div class="quantity-container text-center"><label>Qty:</label> <input class="form-control" type="number" name="quantity" min="1" max="1000"></div>
                <div class="cart-container">
                    <button type="button" class="btn btn-default btn-lg">
                    <span class="glyphicon glyphicon-shopping-cart"></span> <span style="font-size: 14px">Add to Cart</span>
                    </button>
                </div>
                <hr>
                <!--Dummy Ship to information-->
                <b>Ship to:</b>
                <p>Suman Bhattarai- Fort Worth - Texas</p>
            </div>
        </div>
    </div>

    <div class="product-compare">
        
    </div>
</div>