.row {
    margin-right: 0px;
    margin-left: 0px;
}

.product-container .row .col-md-2 {
    min-width: 240px;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 240px;
            flex: 0 0 240px;
}

.product-container .row .col-md-10 {
    max-width: calc(100% - 240px);
    -webkit-box-flex: 0;
        -ms-flex: 0 0 calc(100% - 240px);
            flex: 0 0 calc(100% - 240px);
}

.login-reminder {
    margin-top: -20px;
}

.product-container h1 {
    font-size: 21px;
    font-weight: 400;
}

.product-img {
    max-width: 400px;
    height: auto;
    width: 100%;
}

#product-info {
    position: relative;
    top: 5px;
}

.bread-name {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    width: 14rem;
    vertical-align: middle;
}

#shop-rating {
    text-align: left;
    color: #EAA500;
    font-size: 16px;
}

.price-box {
    color: #555;
    font-size: 13px;
}

.product-price {
    color: #b12704;
    font-weight: bold;
    font-size: 17px;
}

.finance-master {
    margin-top: 10px;
    font-size: 13px;
}

#availability {
    color: #008a00;
    font-size: 17px;
    margin-top: 5px;
}

.product-desc {
    margin-top: 5px;
}

.product-cartbox {
    margin-top: 15px;
    border: 1px solid #DDDDDD;
    border-radius: 4px;
    padding: 14px 18px 14px;
}

.product-cartbox > .quantity-container > .form-control {
    display: initial;
    width: 50px;
    padding: 5px;
}

.current-total {
    color: #b12704;
    font-weight: bold;
    margin-top: 10px;
}

.cart-container {
    width: 100%;
    text-align: center;
    margin-top: 10px;
}

.cart-container > .btn {
    cursor: pointer !important;
    height: 42px;
    font-size: 14px;
    width: 100%;
    background: -webkit-linear-gradient(top,#f7dfa5,#f0c14b);
    background: linear-gradient(to bottom,#f7dfa5,#f0c14b);
}

.compare-title {
    font-size: 21px;
    color: #e77600;
    font-weight: bold;
    margin-left: 15px;
}

.sim-container-price {
    color: #b12704;
    font-weight: bold;
}

.table {
    margin-top: 15px;
}
.table>tbody>tr>td {
    position: relative;  /*otherwise ngb-rating breaks responsive table on safari (it uses position absolute)*/
}

.table>tbody>tr>td, .table>tbody>tr>th {
    width: 20%;
    min-width: 170px;
}

.table>tbody>tr>td:nth-child(1), .table>tbody>tr>th:nth-child(1) {
    min-width: 140px;
}

.table>tbody>tr>th {
    text-align: center;
}

.table-bordered>tbody>tr>td, .table-bordered>tbody>tr>th {
    border-style: dotted;
}

.table-responsive, .table-bordered {
    border-top: 0px !important;
    border-left: 0px !important;
}

.table-responsive {
    border-right: 0px !important;
}

.first-table-td {
    border-style: dotted;
    border-top: 0px !important;
    border-left: 0px !important;
}
.similar-img {
    height: auto;
    width: auto;
    max-width: 100px;
}

.fixed-table {
    width: 100%;
    table-layout: fixed;
}
.fixed-table td {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    border: 0px !important;
    padding: 0px !important;
}

@media (max-width: 992px) {
    .product-img {
        max-width: 240px !important;
    }
}

@media (max-width: 767px) {
    .product-img {
        max-width: 240px !important;
    }
    .product-container .row .col-md-10 {
        max-width: 100%;
        -webkit-box-flex: 0;
            -ms-flex: 0 0 100%;
                flex: 0 0 100%;
    }
    .product-container .row .col-md-2 {
        max-width: 100%;
        -webkit-box-flex: 0;
            -ms-flex: 0 0 100%;
                flex: 0 0 100%;
    }
}