.row {
    margin-right: 0px;
    margin-left: 0px;
}

.product-container .row .col-sm-2 {
    width: 220px ;
}

.product-container .row .col-sm-10 {
    width: calc(100% - 220px);
}

@media (max-width: 767px) {
    .product-container .row .col-sm-10 {
        width: 100%;
    }
}

.product-container h1 {
    font-size: 21px;
    font-weight: 400;
}

.product-img {
    max-width: 90%;
    height: auto;
    width: auto;
}

.bread-name {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    width: 12em;
    vertical-align: middle;
}

.price-box {
    color: #555;
    font-size: 13px;
}

.product-price {
    color: #b12704;
    font-weight: bold;
    font-size: 17px;
}

.finance-master {
    margin-top: 10px;
    font-size: 13px;
}

#availability {
    color: #008a00;
    font-size: 17px;
    margin-top: 5px;
}

.product-desc {
    margin-top: 5px;
}