<div class="product-container">
    <div class="row" *ngFor="let item of _product">
        <ol class="breadcrumb">
            <li><a [routerLink]="['/']">Home</a></li>
            <li><a [routerLink]="['/shop']">Laptops</a></li>
            <li class="active bread-name">{{item.laptop_name}}</li>
        </ol>
        <div *ngIf="!_loginState" class="alert alert-danger login-reminder" role="alert">Oh snap! Please log in before adding!</div>

        <div class="col-sm-10 xs-12">
            <div class="col-lg-4 col-md-4 col-sm-5 text-center">
                <img class="product-img" [src]="item.img_big">
            </div>
            <div class="col-lg-8 col-md-8 col-sm-7">
                <h1 class="xs-display">{{ item.laptop_name }}</h1>
                <div>by <a [routerLink]="['/shop']">{{ item.brand_name }}</a></div>
                <ngb-rating id="shop-rating" [rate]="item.rating" max="5" [readonly]="!readonly"></ngb-rating>
                <hr>
                <div class="price-box">Price: <span class="product-price">${{item.price}}</span></div>
                <div class="finance-master"><span class="glyphicon glyphicon-info-sign"></span> Pay <b>${{(item.price/12) | number:'.1-2'}}/month</b>                    for <b>12</b> months (<b>${{item.price}}</b> total) with <b>Equal Pay Financing</b> on your nice store
                    card.
                </div>
                <div id="availability">In Stock.</div>
                <div class="product-desc" *ngFor="let desc of item.desc">
                    <li>{{desc}}</li>
                </div>
            </div>
        </div>
        <div class="col-sm-2 col-xs-12">
            <div class="product-cartbox">
                <div class="quantity-container text-center"><label>Qty:</label> <input [(ngModel)]="_currentQuantity" class="form-control" type="number" name="quantity" min="1" max="20" onkeypress='return event.charCode >= 48 && event.charCode <= 57'></div>
                <div class="current-total text-center">${{_currentQuantity * item.price | number:'.2'}}</div>
                <div class="cart-container">
                    <button (click) = "addToCart(item.id, _currentQuantity)" type="button" class="btn btn-default btn-lg">
                    <span class="glyphicon glyphicon-shopping-cart"></span> <span style="font-size: 14px">Add to Cart</span>
                    </button>
                </div>
                <hr>
                <!--Dummy Ship to information-->
                <b>Ship to:</b>
                <p>Suman Bhattarai- Fort Worth - Texas</p>
            </div>
        </div>
    </div>

    <!--Compare portion begin-->
    <hr>
    <div class="product-compare">
        <div class="compare-title">Compare to Similar Items</div>
        <div class="table-responsive">
            <table class="table table-bordered" *ngFor="let item of _product">
                <tr>
                    <th class="first-table-td"></th>
                    <th><img class="similar-img" [src]="item.img"></th>
                    <th *ngFor="let product of _similar"><img class="similar-img" [src]="product.img"></th>
                </tr>
                <tr>
                    <td class="active">Name</td>
                    <td class="warning">
                        <table class="fixed-table">
                            <tr>
                                <td><b>This item:</b> {{item.laptop_name}}</td>
                            </tr>
                        </table>
                    </td>
                    <td *ngFor="let product of _similar">
                        <table class="fixed-table">
                            <tr>
                                <td><a [routerLink]="['/product', product.id]">{{product.laptop_name}}</a></td>
                            </tr>
                        </table>
                    </td>
                </tr>
                <tr>
                    <td class="active">Customer Rating</td>
                    <td class="warning"><ngb-rating id="shop-rating" [rate]="item.rating" max="5" [readonly]="!readonly"></ngb-rating></td>
                    <td *ngFor="let product of _similar"><ngb-rating id="shop-rating" [rate]="product.rating" max="5" [readonly]="!readonly"></ngb-rating></td>
                </tr>
                <tr>
                    <td class="active">Price</td>
                    <td class="warning sim-container-price">${{item.price}}</td>
                    <td class="sim-container-price" *ngFor="let product of _similar">${{product.price}}</td>
                </tr>
                <tr>
                    <td class="active">Operating System</td>
                    <td class="warning">{{item.os_name}}</td>
                    <td *ngFor="let product of _similar">{{product.os_name}}</td>
                </tr>
                <tr>
                    <td class="active">Memory</td>
                    <td class="warning">{{item.ram}} GB DDR3</td>
                    <td *ngFor="let product of _similar">{{product.ram}} GB DDR3</td>
                </tr>
                <tr>
                    <td class="active">Storage</td>
                    <td class="warning">{{item.storage}} GB</td>
                    <td *ngFor="let product of _similar">{{product.storage}} GB</td>
                </tr>
                <tr>
                    <td class="active">Hard Drive Type</td>
                    <td class="warning">{{item.storage_name}}</td>
                    <td *ngFor="let product of _similar">{{product.storage_name}}</td>
                </tr>
            </table>
        </div>
    </div>
</div>