$color: #3F51B5;

.profile-box {
    margin-top: 20px;
    padding: 2rem;
    border: 2px solid #f1f1f1;
    border-radius: 3px;
}

.username {
    color: #444;
    font-size: 25px;
    margin-bottom: 0.5rem;
    font-weight: 400;
}

.user-info {
    line-height: 24px;
    color: #444;
    font-size: 16px;
}

.edit-profile {
    background: white;
    color: #484848;
    max-width: 120px;
    position: relative; 
    padding: 10px;
    text-align: center;
    border: 1px solid #c4c4c4;
    border-radius: 3px;
    float: right;
    font-size: 13px;
}

.edit-profile:hover, .edit-profile:focus {
  background-color: #eee;
  text-decoration: none;
}

.usermodal-container {
  max-width: 350px;
  width: 100% !important;
  background-color: #fff;
  margin: 0 auto;
  border-radius: 2px;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
  overflow: hidden;
  margin-top: 100px;
}

.usermodal-container input[type=submit] {
  width: 100%;
  display: block;
  position: relative;
}

.usermodal-container input[type=email], input[type=password], input[type=name], input[type=text], input[type=number] {
  height: 44px;
  font-size: 15px;
}

.usermodal {
  text-align: center;
  font-size: 14px;
  font-weight: 700;
  height: 36px;
  padding: 0 8px;
}

.usermodal-submit {
  border: 0px;
  color: #fff;
  text-shadow: 0 1px rgba(0,0,0,0.1); 
  background-color: #4d90fe;
  padding: 17px 0px;
  font-size: 14px;
  margin-top: 15px;
}

.usermodal-submit:hover {
  border: 0px;
  text-shadow: 0 1px rgba(0,0,0,0.3);
  background-color: #357ae8;
}

.usermodal-container a {
  text-decoration: none;
  color: #666;
  font-weight: 400;
  text-align: center;
  display: inline-block;
  opacity: 0.6;
  -webkit-transition: opacity ease 0.5s;
  transition: opacity ease 0.5s;
}

.alert {
  margin-bottom: 10px;
}

.add-address:hover {
  text-decoration: none !important;
}

.add-address:focus {
  text-decoration: none !important;
}

form {
  padding: 0 30px 30px 30px;
}

.usermodal-title {
  box-sizing: border-box;
  text-align: center;
  font-size: 20px;
  padding: 10px;
  width: 100%;
  background: darken($color, 4%);
  color: white;
  line-height: 150%;
  box-shadow: 0 2px 5px 1px rgba(0,0,0,0.2);
}

input {
  margin-top: 10px;
  width: 100%;
  display: block;
  border: none;
  padding: 10px 0;
  border-bottom: solid 1px $color;
  -webkit-transition: all 0.3s cubic-bezier(.64,.09,.08,1);
  transition: all 0.3s cubic-bezier(.64,.09,.08,1);
  background: -webkit-linear-gradient(top, rgba(255,255,255,0) 98%, $color 4%);
  background: linear-gradient(to bottom, rgba(255,255,255,0) 98%, $color 4%);
  background-position: -100vw 0;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  color: darken($color, 20%);
  &:focus, &:valid {
    box-shadow: none;
    outline: none;
    background-position: 0 0;
  }
  &:focus ~.control-label, &:valid ~.control-label {
    font-size: 12px;
    -webkit-transform: translateY(-15px);
      transform: translateY(-15px);
    visibility: visible !important;
    color: $color;
  }
}

.form-group {
  display: flex;
  margin-top: 10px;
  .control-label {
    position: absolute;
    margin-top: 20px;
    font-size: 15px;
    pointer-events: none;
    z-index: 1;
    font-weight: normal;
    transition: all 0.3s ease;
    }
}

.ng-valid[required], .ng-valid.required  {
  border-right: 2px solid #42A948;
}

.ng-invalid:not(form)  {
  border-right: 2px solid #a94442;
}