.row.is-flex {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}

.row.is-flex > [class*='col-'] {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
}





.shop-container .row .col-sm-2 {
    width: 200px ;
}

.shop-container .row .col-sm-10 {
    width: calc(100% - 200px);
}

@media (max-width: 768px) {
    .shop-container .row .col-sm-10 {
        width: 100%;
    }
}

@media (min-width: 1780px) {
    .shop-container .row .big-display {
        width: 16.66666667%;
    }
}