.row {
    margin-right: 0px;
    margin-left: 0px;
}
.row.is-flex {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}

.row.is-flex > [class*='col-'] {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    border: 1px solid #eee;
    margin-left: -1px;   /*safari seems to break first row without it*/
}

.boxception {
    margin-bottom: 15px;
    background-image: linear-gradient(to top,#fafafa 0,#fdfdfd 20%,#fff 60%);
}

.selection-header {
    font-size: 16px;
    color: #999;
    margin-bottom: -10px;
}

#filter {
    border-right: 1px solid #ddd;
}

@media (min-width:768px) {
    #filter {
        display: block !important;
    }
    .fade {
        opacity: 1 !important;
    }
    .shop-container .row .col-sm-10 {
        display: block !important;
    }
}

#filter h3 {
    font-size: 12px;
    color: #000;
    font-weight: bold;
}

.main-content-name {
    text-align: left;
    color: #0066c0;
    font-size: 15px;
    font-weight: 400;
}

.main-content-price {
    margin-top: 5px;
    margin-bottom: 5px;
    text-align: left;
    color: #b12704;
    font-weight: bold;
}

.shop-container .row .col-sm-2 {
    width: 200px ;
}

.shop-container .row .col-sm-10 {
    width: calc(100% - 200px);
}

@media (max-width: 767px) {
    .shop-container .row .col-sm-10 {
        margin-top: 10px;
        width: 100%;
    }
    .shop-container .row .col-sm-10:nth-child(1) {
        border-top: none;
    }
    #filter {
        margin-top: 10px;
        width: 100%;
        border-right: none;
    }
    #filter h3{
        font-size: 2.4rem;
    }
    .selection-header{
        display: none;
    }
    .checkbox {
    border-radius: .4rem;
    border: .1rem #ddd solid;
    font-size: 18px;
    padding: 1.3rem 3.8rem 1.2rem 1.7rem;
    }
    #products {
        min-height: 200px;
    }
    .nav {
        margin-top: -5px;
    }
}

@media (min-width: 1780px) {
    .shop-container .row .big-display {
        width: 16.66666667%;
    }
}

@media (min-width: 2560px) {
    .shop-container .row .big-display {
        width: 12.5%;
    }
}

#shop-rating {
    text-align: left;
    margin-bottom: 5px;
    color: #EAA500;
    font-size: 16px;
}