<h1> Shop all your favorite stuff here! </h1>

<div class="center-block text-center row is-flex">
    <div class="col-lg-2-offset-1 col-md-3 col-sm-4 col-xs-12" *ngFor="let item of data | async | paginate: { id: 'server', itemsPerPage: 24, currentPage: page, totalItems: 51 }">
        <div><img [src]="item.prod_img"></div>
        <p>{{item.prod_name}}</p>
    </div>
</div>

<div class="text-center">
    <pagination-controls (pageChange)="getPage($event)" id="server"></pagination-controls>
</div>