<ngx-loading-bar [includeSpinner]="false" [height]="'3px'"></ngx-loading-bar>
<ol class="breadcrumb">
  <li class="breadcrumb-item">
    <a [routerLink]="['/']">Home</a>
  </li>
  <li class="breadcrumb-item active">Laptops</li>
</ol>
<div class="shop-container">
  <div class="mobile-filter">
    <ul class="nav nav-tabs d-md-none">
      <li class="nav-item" [ngStyle]="showFilter ? { 'display': 'none' } : { 'display': 'list-item' }">
        <a id="back-btn" role="tab" (click)="showFilter = !showFilter">
          <img src="../../assets/images/arrow_left.svg"> BACK
        </a>
      </li>
      <li class="nav-item" [hidden]="!showFilter">
        <a id="filter-btn" role="tab" (click)="showFilter = !showFilter">
          FILTERS
          <img src="../../assets/images/arrow_right.svg">
        </a>
      </li>
    </ul>
  </div>
  <div class="row">
    <div class="col-md-2" id='filter' role="tabpanel" [hidden]="showFilter">
      <div>
        <div id="selection-header">Refine by</div>
        <div class="filter-header">Featured Brands</div>
        <label *ngFor="let item of brandOptions" class="filters">
          <input [id]="item" type="checkbox" [(ngModel)]="brand[item.toLowerCase()]" (ngModelChange)="getPage(page, item)">
          <label [for]="item">{{item}}</label>
        </label>

        <div class="filter-header">Operating System</div>
        <label *ngFor="let item of osOptions" class="filters">
          <input [id]="item" type="checkbox" [(ngModel)]="os[item.toLowerCase()]" (ngModelChange)="getPage(page, item)">
          <label [for]="item"> {{item}}</label>
        </label>

        <div class="filter-header">Price</div>
        <label *ngFor="let item of priceOptions" class="filters">
          <input [id]="item.name" type="radio" (click)="isPrice = item.value" (click)="getPage(page, 'price')" [checked]="item.value === isPrice"
            name="price">
          <label [for]="item.name"> {{item.name}}</label>
        </label>
        <a id="allprices" *ngIf="isPrice" (click)="isPrice = ''" (click)="getPage(page, 'price')">Back to all results</a>
        <div id="custom-container">$
          <input [(ngModel)]="minCustom" class="price-custom" type="number" id="low-price" name="min" step="50" min="1" max="100000"
            placeholder="Min"> to $
          <input [(ngModel)]="maxCustom" class="price-custom" type="number" value="" id="high-price" name="max" step="50" min="1" max="100000"
            placeholder="Max">
          <label id="custom-label" (click)="getPage(page, 'customPrice')">Go</label>
        </div>

        <div class="filter-header">RAM Size</div>
        <label *ngFor="let item of ramOptions" class="filters">
          <input [id]="item" type="checkbox" [(ngModel)]="ram[item]" (ngModelChange)="getPage(page, item)">
          <label [for]="item"> {{item}} GB</label>
        </label>

        <div class="filter-header">Processor Type</div>

        <label *ngFor="let item of processorOptions" class="filters">
          <input [id]="item" type="checkbox" [(ngModel)]="processor[item.toLowerCase()]" (ngModelChange)="getPage(page, item)">
          <label [for]="item"> {{item}}</label>
        </label>

        <div class="filter-header">Hard Drive Type</div>
        <label *ngFor="let item of storageOptions" class="filters">
          <input [id]="item" type="checkbox" [(ngModel)]="storage[item.toLowerCase()]" (ngModelChange)="getPage(page, item)">
          <label [for]="item"> {{item}}</label>
        </label>

      </div>
    </div>
    <div class="col-md-10 col-12" id="products" role="tabpanel" [hidden]="!showFilter">
      <div class="center-block text-center row is-flex">
        <div class="no-results" *ngIf="!searchResult">There are no results that match your search. Please try something else.</div>
        <div class="col-xl-3 col-lg-4 col-md-6 col-12 big-display boxception" *ngFor="let item of data | paginate: { id: 'server', itemsPerPage: itemsPerPage, currentPage: page, totalItems: totalItems }">
          <div class="image-container">
            <a [routerLink]="['/product', item.id]" class="main-content-name">
              <img class="laptop-image" [src]="item.img">
            </a>
          </div>
          <a [routerLink]="['/product', item.id]" class="main-content-name">{{item.name | ellipsis: 91}}</a>
          <div class="main-content-price">${{item.price}}</div>
          <ngb-rating class="laptop-rating" [rate]="item.rating" max="5" [readonly]="true"></ngb-rating>
        </div>
      </div>
      <div *ngIf="searchResult && data.length > 0" class="text-center">
        <pagination-controls (pageChange)="getPage($event)" id="server">
        </pagination-controls>
      </div>
    </div>
  </div>
</div>