<ol class="breadcrumb">
    <li class="breadcrumb-item"><a [routerLink]="['/']">Home</a></li>
    <li class="breadcrumb-item active">Laptops</li>
</ol>
<div class="shop-container">
    <ul class="nav nav-tabs hidden-md-up">
        <li class="nav-item">
            <a class="nav-link active" data-toggle="tab" role="tab" href="#products">Results</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" data-toggle="tab" role="tab" href="#filter">Filter</a>
        </li>
    </ul>

    <div class="row">
        <div class="tab-content">
            <div class="col-md-2 tab-pane fade" id='filter' role="tabpanel">
                <div>
                    <div class="selection-header">Refine by</div>
                    <h3>Featured Brands</h3>
                    <div class="checkbox">
                        <label>
                        <input type="checkbox" [(ngModel)]="brand.Apple" (ngModelChange)="getPage(page, 'Apple')"> Apple
                    </label>
                    </div>

                    <div class="checkbox">
                        <label>
                        <input type="checkbox" [(ngModel)]="brand.Asus" (ngModelChange)="getPage(page, 'Asus')"> Asus
                    </label>
                    </div>

                    <div class="checkbox">
                        <label>
                        <input type="checkbox" [(ngModel)]="brand.Microsoft" (ngModelChange)="getPage(page, 'Microsoft')"> Microsoft
                    </label>
                    </div>

                    <div class="checkbox">
                        <label>
                        <input type="checkbox" [(ngModel)]="brand.Dell" (ngModelChange)="getPage(page, 'Dell')"> Dell
                    </label>
                    </div>

                    <div class="checkbox">
                        <label>
                        <input type="checkbox" [(ngModel)]="brand.HP" (ngModelChange)="getPage(page, 'HP')"> HP
                    </label>
                    </div>

                    <div class="checkbox">
                        <label>
                        <input type="checkbox" [(ngModel)]="brand.Acer" (ngModelChange)="getPage(page, 'Acer')"> Acer
                    </label>
                    </div>

                    <div class="checkbox">
                        <label>
                        <input type="checkbox" [(ngModel)]="brand.Samsung" (ngModelChange)="getPage(page, 'Samsung')"> Samsung
                    </label>
                    </div>

                    <div class="checkbox">
                        <label>
                        <input type="checkbox" [(ngModel)]="brand.Lenovo" (ngModelChange)="getPage(page, 'Lenovo')"> Lenovo
                    </label>
                    </div>

                    <h3>Operating System</h3>

                    <div class="checkbox">
                        <label>
                        <input type="checkbox" [(ngModel)]="os.Mac" (ngModelChange)="getPage(page, 'Mac OS X')"> Mac OS X
                    </label>
                    </div>

                    <div class="checkbox">
                        <label>
                        <input type="checkbox" [(ngModel)]="os.Win10" (ngModelChange)="getPage(page, 'Windows 10')"> Windows 10
                    </label>
                    </div>
                    <div class="checkbox">
                        <label>
                        <input type="checkbox" [(ngModel)]="os.Win8" (ngModelChange)="getPage(page, 'Windows 8.1')"> Windows 8.1
                    </label>
                    </div>
                    <div class="checkbox">
                        <label>
                        <input type="checkbox" [(ngModel)]="os.Win7" (ngModelChange)="getPage(page, 'Windows 7 Home')"> Windows 7 Home
                    </label>
                    </div>
                    <div class="checkbox">
                        <label>
                        <input type="checkbox" [(ngModel)]="os.Chrome" (ngModelChange)="getPage(page, 'Chrome OS')"> Chrome OS
                    </label>
                    </div>

                    <h3>Price</h3>
                    <div *ngFor="let entry of filterPrice" class="checkbox">
                        <label>
                        <input type="radio" (click)="isPrice.options = entry.value" (click)="getPage(page, 'price')" [checked]="entry.value === isPrice.options" name="price"> {{entry.name}}
                        </label>
                    </div>
                    <div class="custom-container">
                        <!--Has some bugs. Need to make it better-->
                        $ <input [(ngModel)]="minCustom" class="price-custom" type="text" id="low-price" name="min" maxlength="9"
                            placeholder="Min"> to $ <input [(ngModel)]="maxCustom" class="price-custom" type="text" value=""
                            id="high-price" name="max" maxlength="7" placeholder="Max">
                        <label id="custom-label" (click)="getPage(page, 'customPrice')">Go</label>
                    </div>

                    <h3>RAM Size</h3>
                    <div class="checkbox">
                        <label>
                        <input type="checkbox" [(ngModel)]="ram.is64andAbove" (ngModelChange)="getPage(page, '64')"> 64 GB & Above
                    </label>
                    </div>
                    <div class="checkbox">
                        <label>
                        <input type="checkbox" [(ngModel)]="ram.is32" (ngModelChange)="getPage(page, '32')"> 32 GB
                    </label>
                    </div>
                    <div class="checkbox">
                        <label>
                        <input type="checkbox" [(ngModel)]="ram.is16" (ngModelChange)="getPage(page, '16')"> 16 GB
                    </label>
                    </div>
                    <div class="checkbox">
                        <label>
                        <input type="checkbox" [(ngModel)]="ram.is12" (ngModelChange)="getPage(page, '12')"> 12 GB
                    </label>
                    </div>
                    <div class="checkbox">
                        <label>
                        <input type="checkbox" [(ngModel)]="ram.is8" (ngModelChange)="getPage(page, '8')"> 8 GB
                    </label>
                    </div>
                    <div class="checkbox">
                        <label>
                        <input type="checkbox" [(ngModel)]="ram.is4" (ngModelChange)="getPage(page, '4')"> 4 GB
                    </label>
                    </div>
                    <div class="checkbox">
                        <label>
                        <input type="checkbox" [(ngModel)]="ram.is2" (ngModelChange)="getPage(page, '2')"> 2 GB
                    </label>
                    </div>


                    <h3>Processor Type</h3>

                    <div class="checkbox">
                        <label>
                        <input type="checkbox" [(ngModel)]="processor.i7" (ngModelChange)="getPage(page, 'Intel Core i7')"> Intel Core i7
                    </label>
                    </div>

                    <div class="checkbox">
                        <label>
                        <input type="checkbox" [(ngModel)]="processor.i5" (ngModelChange)="getPage(page, 'Intel Core i5')"> Intel Core i5
                    </label>
                    </div>

                    <div class="checkbox">
                        <label>
                        <input type="checkbox" [(ngModel)]="processor.i3" (ngModelChange)="getPage(page, 'Intel Core i3')"> Intel Core i3
                    </label>
                    </div>

                    <div class="checkbox">
                        <label>
                        <input type="checkbox" [(ngModel)]="processor.Core2" (ngModelChange)="getPage(page, 'Intel Core 2')"> Intel Core 2
                    </label>
                    </div>

                    <div class="checkbox">
                        <label>
                        <input type="checkbox" [(ngModel)]="processor.Athlon" (ngModelChange)="getPage(page, 'AMD')"> AMD Athlon
                    </label>
                    </div>

                    <h3>Hard Drive Type</h3>
                    <div class="checkbox">
                        <label>
                        <input type="checkbox" [(ngModel)]="storage.SSD" (ngModelChange)="getPage(page, 'SSD')"> Solid State Drive
                    </label>
                    </div>

                    <div class="checkbox">
                        <label>
                        <input type="checkbox" [(ngModel)]="storage.HardDrive" (ngModelChange)="getPage(page, 'Hard Disk')"> Hard Drive
                    </label>
                    </div>

                </div>
            </div>
            <div class="col-md-10 col-12 tab-pane fade show active" id="products" role="tabpanel">
                <div class="center-block text-center row is-flex">
                    <div *ngIf="loading" class="loader"></div>
                    <div class="no-results" *ngIf="!searchResult">There are no results that match your search filter. Please try something else.</div>
                    <div [ngClass]="{ 'hidden' : loading}" class="col-xl-3 col-lg-4 col-md-6 col-12 big-display boxception" *ngFor="let item of data | paginate: { id: 'server', itemsPerPage: itemsPerPage, currentPage: page, totalItems: totalItems }">
                        <div>
                            <a [routerLink]="['/product', item.id]" class="main-content-name"><img [src]="item.img"></a>
                        </div>
                        <a [routerLink]="['/product', item.id]" class="main-content-name">{{item.name | ellipsis: 91}}</a>
                        <div class="main-content-price">${{item.price}}</div>
                        <ngb-rating id="shop-rating" [rate]="item.rating" max="5" [readonly]="true"></ngb-rating>
                    </div>
                </div>
                <div *ngIf="!loading" class="text-center">
                    <pagination-controls class="more-results" (pageChange)="getPage($event)" id="server">
                    </pagination-controls>
                </div>
            </div>
        </div>
    </div>
</div>