.row {
    margin-right: 0px;
    margin-left: 0px;
}

.img-container {
    background: url('assets/images/banner.jpg')
}

.big-display {
    padding: 10px;
}

.img-responsive{
        display: initial;
    }

@media (max-width: 767px) {
    .featured {
    margin-top: 50px;
    }   
    .carousel {
        z-index: -1;
        margin-top: -100px;
        margin-bottom: -40px;
    }
}