<!--Dummy Homepage -->
<div id="carousel-home" class="carousel slide" data-ride="carousel">
    <!-- Indicators -->
    <ol class="carousel-indicators">
        <li data-target="#carousel-home" data-slide-to="0" class="active"></li>
        <li data-target="#carousel-home" data-slide-to="1"></li>
    </ol>

    <!-- Wrapper for slides -->
    <div class="carousel-inner" role="listbox">
        <div class="item active">
            <a [routerLink]="['/product', 8]"><img src="https://images-na.ssl-images-amazon.com/images/G/01/img16/consumer-electronics/vertical-store/981046_ce_laptoprev_1920x693._CB271301715_.jpg"
                    class="hidden-xs img-responsive" alt="Asus"></a>
            <a [routerLink]="['/product', 8]"> <img src="https://images-na.ssl-images-amazon.com/images/G/01/img16/consumer-electronics/vertical-store/981046_ce_laptoprev_b_1080x1920._CB271301712_.jpg"
                    class="visible-xs img-responsive" alt="Asus"></a>


            <div class="carousel-caption">
            </div>
        </div>
        <div class="item">
            <a [routerLink]="['/product', 30]"><img src="https://images-na.ssl-images-amazon.com/images/G/01/electronics/dell/00000_Laptops_Starlord_heros-landscape_FA_061716._CB269892967_.jpg"
                    class="hidden-xs" alt="Dell"></a>
            <a [routerLink]="['/product', 30]"><img src="https://images-na.ssl-images-amazon.com/images/G/01/img16/consumer-electronics/vertical-store/pc/mobile/pcvs_comp-tablet_easychoice_1080x1920_mobile._CB294528991_.jpg"
                    class="visible-xs img-responsive" alt="Asus"></a>
            <div class="carousel-caption">
            </div>
        </div>
    </div>

    <!-- Controls -->
    <a class="left carousel-control" href="#carousel-home" role="button" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
    </a>
    <a class="right carousel-control" href="#carousel-home" role="button" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
    </a>
</div>

<h2 class="text-center featured">Featured Brands</h2>

<div class="row text-center">
    <div class="big-display col-lg-4 col-md-6 col-sm-6 col-xs-12">
        <div><img class="img-responsive" src="https://images-na.ssl-images-amazon.com/images/G/01/img16/consumer-electronics/vertical-store/pc/evergreen/pcvs_brand_microsoft_short-tile_v4d._CB274378532_.jpg"
                alt="Microsoft"></div>
    </div>
    <div class="big-display col-lg-4 col-md-6 col-sm-6 col-xs-12">
        <img class="img-responsive" src="https://images-na.ssl-images-amazon.com/images/G/01/img16/consumer-electronics/vertical-store/pc/evergreen/pcvs_brand_apple_short-tile_v4d._CB274378538_.jpg"
            alt="Apple">
    </div>
    <div class="big-display col-lg-4 col-md-6 col-sm-6 col-xs-12">
        <img class="img-responsive" src="https://images-na.ssl-images-amazon.com/images/G/01/img16/consumer-electronics/vertical-store/pc/evergreen/pcvs_brand_google_short-tile_v4d._CB274378533_.jpg"
            alt="Google">
    </div>
</div>